﻿@image-folder: "images";
@image-classes-folder: "@{image-folder}/classes";
@image-types-folder: "@{image-folder}/types";
@image-vm-folder: "@{image-folder}/vm";

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Regular"), local("RobotoRegular"), url("http://app05.tm.local/apis/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

html {
    font-family: Roboto,Arial,sans-serif;
    font-size: 10pt;
    color: #000000;
}

/********************************************************************************/
/******** Исправления для виджетов kendo-ui меняющая цвет шрифта ****************/
/********************************************************************************/
.k-widget, .k-header, .k-button, .k-input, .k-textbox, .k-checkbox, .k-group, .k-content, .k-popup, .k-icon, .k-sprite, .k-image, .k-item, .k-first, .k-last {
    color: #000000 !important;
}

.k-header a.k-link {
    color: #000000 !important;
}
/********************************************************************************/

/********************************************************************************/
/****** Исправление для текстовых полей kendo-ui использующих font-awesome *****/
/********************************************************************************/
.k-textbox .k-icon.fa-icon {
    top: 44%;
    width: auto;
    height: auto;
}

.k-textbox:hover .k-icon.fa-icon > i {
    color: #ffffff;
}
/********************************************************************************/

/* Форк для ячеек таблицы или дерева скрывающий переполнение 
    и ставящий в конце многоточие */
.s-treelist-custom td[role=gridcell] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Форк для кастомных стилей подсказок */
.s-custom-tooltips > .k-widget.k-tooltip {
    border-color: #aaaaaa;
    border-width: 1px;
    background-color: #ffffff;
}

.s-custom-tooltips > .k-widget.k-tooltip > .k-callout {
    border-bottom-color: #aaaaaa;
}

/*********************************************************************************/
/************************** Подсветка Для поиска *********************************/
/*********************************************************************************/
.s-searched {
    background-color: #63ff68;
}

.s-searched.s-primary {
    background-color: #fffc5b;
}
/*********************************************************************************/

html, body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

@import "@parts/grid-system.less";
@import "@parts/icons.less";
@import "@parts/document-layouts.less";
@import "@parts/type-tabs.less";
@import "@parts/document-details.less";
@import "@parts/document-additional.less";
