﻿<ng-trnsclude>
    <div class="grid rows" style="height: 100%;">
        <div class="row columns">
            <div class="col-1 tabs-strip-column"></div>
            <div class="col-11 rows">
                <toolbar></toolbar>
            </div>
        </div>
        <div class="row columns" style="flex: 1 1 auto;">
            <div class="col-1 tabs-strip-column">
                <kendo-tab-strip k-options="$ctrl.options.tabs" k-scope-field="$ctrl.tabsScope" style="border-width: 0;"></kendo-tab-strip>
            </div>
            <div class="col-11 rows" ui-view>
            </div>
        </div>
    </div>
    <span kendo-notification="$ctrl.notificationScope"></span>
</ng-trnsclude>