﻿<div kendo-splitter k-options="$ctrl.options.splitter" k-scope-field="$ctrl.splitterScope" k-ng-delay="$ctrl.app" style="width: 100%; height: 100%;">
    <div>
        <div class="documents-layout columns">
            <div class="layer rows" style="flex: 1 1 auto;">
                <div class="layer">
                    <kendo-tooltip k-options="$ctrl.options.listToolTip">
                        <kendo-tree-list id="documentsList" class="s-treelist-custom" k-options="$ctrl.options.list()" k-scope-field="$ctrl.listScope" style="border-width:0; height: 200px;"></kendo-tree-list>
                    </kendo-tooltip>
                </div>
                <div class="layer">
                    <kendo-pager k-scope-field="$ctrl.listPagerScope" k-ng-delay="$ctrl.listScope" k-data-source="$ctrl.documentsDataSource"></kendo-pager>
                </div>
            </div>
            <div class="layer">
                <document-details k-ng-delay="$ctrl.listScope" on-toggle-by-barcode="$ctrl.ToggleByBarcode(barcode)"></document-details>
            </div>
        </div>
    </div>
    <div>
        <document-additional k-ng-delay="$ctrl.listScope"></document-additional>
    </div>
</div>