﻿<div class="grid rows details-form">
    <div class="row delimiter-title">Информация</div>
    <div class="row columns">
        <div class="col-4 title">Штрихкод</div>
        <div class="col-8" ng-bind="$ctrl.model.BARCODE"></div>
    </div>

    <div class="row columns">
        <div class="col-4 title">Номер</div>
        <div class="col-8" ng-bind-html="$ctrl.model.NUMBERS|format"></div>
    </div>

    <div class="row columns">
        <div class="col-4 title">Дата формирования</div>
        <div class="col-8" ng-bind-html="$ctrl.model.CREATE_DATE|format:'{0:dd.MM.yyyy HH:mm:ss}'"></div>
    </div>

    <div class="row columns">
        <div class="col-4 title">Дата сканирования</div>
        <div class="col-8" ng-bind-html="$ctrl.model.SCAN_DATE|format:'{0:dd.MM.yyyy HH:mm:ss}'"></div>
    </div>

    <div class="row columns">
        <div class="col-4 title">Автор</div>
        <div class="col-8" ng-bind-html="$ctrl.model.AUTHOR|format"></div>
    </div>

    <div class="row columns">
        <div class="col-4 title">Состояние</div>
        <div class="col-8" ng-bind-html="$ctrl.model.STATE|format"></div>
    </div>

    <div class="row columns">
        <div class="col-4 title">Заменен на</div>
        <div class="col-8"><a href="#{{$ctrl.model.REPLACEMENT_BY}}" ng-click="$ctrl.byChange_OnClick($event, $ctrl.model.REPLACEMENT_BY)">{{$ctrl.model.REPLACEMENT_BY}}</a></div>
    </div>

    <div class="row columns">
        <div class="col-4 title">Взамен</div>
        <div class="col-8"><a href="#{{$ctrl.model.REPLACEMENT_INSTEAD}}" ng-click="$ctrl.byChange_OnClick($event, $ctrl.model.REPLACEMENT_INSTEAD)">{{$ctrl.model.REPLACEMENT_INSTEAD}}</a></div>
    </div>

    <div class="row columns">
        <div class="col-4 title">Примечание</div>
        <div class="col-8" ng-bind-html="$ctrl.model.COMMENTS|format" style="text-align:left;"></div>
    </div>

    <div class="row delimiter-title">Количество</div>
    <div class="row columns">
        <div class="col-4 title">ВСНРМ</div>
        <div class="col-8" ng-bind="$ctrl.model.COUNT"></div>
    </div>
    <div class="row columns">
        <div class="col-4 title">ПДО</div>
        <div class="col-8" ng-bind="$ctrl.model.COUNT_PROD"></div>
    </div>
    <div class="row columns">
        <div class="col-4 title">СЗиВК</div>
        <div class="col-8" ng-bind="$ctrl.model.COUNT_PURCHASE"></div>
    </div>
    <div class="row columns">
        <div class="col-4 title">ОГК</div>
        <div class="col-8" ng-bind="$ctrl.model.RATE"></div>
    </div>
</div>