﻿<div kendo-tab-strip="$ctrl.tabsScope" k-animation="false" ng-if="$ctrl.type === 0">
    <ul>
        <li class="k-state-active">Состав документа</li>
        <li>Исключенные\включенные</li>
    </ul>

    <div>
        <kendo-tree-list k-scope-field="$ctrl.listScopes[0]" class="s-treelist-custom" k-options="$ctrl.options.composition()"></kendo-tree-list>
    </div>
    <div>
        <kendo-tree-list k-scope-field="$ctrl.listScopes[1]" class="s-treelist-custom" k-options="$ctrl.options.excluded()"></kendo-tree-list>
    </div>
</div>

<div kendo-tab-strip="$ctrl.tabsScope" k-animation="false" ng-if="$ctrl.type === 1 || $ctrl.type === 2">
    <ul>
        <li class="k-state-active">Аннулированные ВП</li>
    </ul>

    <div>
        <kendo-grid k-scope-field="$ctrl.listScopes[2]" class="s-treelist-custom" k-options="$ctrl.options.canceled()"></kendo-grid>
    </div>
</div>

<div kendo-tab-strip="$ctrl.tabsScope" k-animation="false" ng-if="$ctrl.type === 3">
    <ul>
        <li class="k-state-active">Состав документа</li>
    </ul>

    <div>
        <kendo-tree-list k-scope-field="$ctrl.listScopes[3]" class="s-treelist-custom" k-options="$ctrl.options.compositionVM()"></kendo-tree-list>
    </div>
</div>