﻿/*панель дополнительной информации*/
.details-form > .row.delimiter-title,
.details-form div.row.columns > div {
    border-color: #dddddd;
    border-style: solid;
    border-width: 0 0 1px 1px;
    padding: 3px 9px;
}

.details-form > .row.delimiter-title,
.details-form div.row.columns > div.title {
    background-color: #EEEEEE;
    font-weight: bold;
    white-space: nowrap;
}

.details-form > .row.delimiter-title {
    padding-left: 18px;
}

.details-form > div.row.columns > div:not(.title):not(.delimiter-title) {
    text-align: right;
}