﻿.documents-layout {
    height: 100%;
    width: 100%;
}

.documents-layout, .layer.columns, .layer.rows {
    display: flex;
}

.documents-layout.columns, .layer.columns {
    flex-direction: row;
}

.documents-layout, .documents-layout.rows, .layer.rows {
    flex-direction: column;
}

.documents-layout div.layer:first-child {
    flex: 0 1 100%;
}

.documents-layout div.layer + div.layer {
    flex: 1 1 auto;
}
