﻿/* панель развёрнутой информации */
document-additional div.k-tabstrip-wrapper,
document-additional div.k-tabstrip-wrapper > div.k-widget.k-tabstrip {
    height: 100%;
    border-width: 0;
    margin: 0;
    padding: 0;
}