﻿.grid, .grid.rows, .row.rows, .col-1.rows, .col-2.rows, .col-3.rows, .col-4.rows,
.col-5.rows, .col-6.rows, .col-7.rows, .col-8.rows,
.col-9.rows, .col-10.rows, .col-11.rows, .col-12.rows{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.grid.columns, .row.columns, .col-1.columns, .col-2.columns, .col-3.columns, .col-4.columns,
.col-5.columns, .col-6.columns, .col-7.columns, .col-8.columns,
.col-9.columns, .col-10.columns, .col-11.columns, .col-12.columns{
    display: flex;
    flex-flow: row nowrap;
}
.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12{
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.col-1 { flex-basis: 8.333333333333334%; }
.col-2 { flex-basis: 16.666666666666668%; }
.col-3 { flex-basis: 25.0%; }
.col-4 { flex-basis: 33.333333333333336%; }
.col-5 { flex-basis: 41.66666666666667%; }
.col-6 { flex-basis: 50.0%; }
.col-7 { flex-basis: 58.333333333333336%; }
.col-8 { flex-basis: 66.66666666666667%; }
.col-9 { flex-basis: 75.0%; }
.col-10 { flex-basis: 83.33333333333334%; }
.col-11 { flex-basis: 91.66666666666667%; }
.col-12 { flex-basis: 100.0%; }

.col-offset-1 { margin-right: 8.333333333333334%; }
.col-offset-2 { margin-right: 16.666666666666668%; }
.col-offset-3 { margin-right: 25.0%; }
.col-offset-4 { margin-right: 33.333333333333336%; }
.col-offset-5 { margin-right: 41.66666666666667%; }
.col-offset-6 { margin-right: 50.0%; }
.col-offset-7 { margin-right: 58.333333333333336%; }
.col-offset-8 { margin-right: 66.66666666666667%; }
.col-offset-9 { margin-right: 75.0%; }
.col-offset-10 { margin-right: 83.33333333333334%; }
.col-offset-11 { margin-right: 91.66666666666667%; }
.col-offset-12 { margin-right: 100.0%; }