﻿.icon{
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    overflow: hidden;
}


/******icon class********/
.icon-class-2456 {
    &:extend(.icon);
    background-image: url("@{image-classes-folder}/2456.png");
}
.icon-class-2797 {
    &:extend(.icon);
    background-image: url("@{image-classes-folder}/2797.png");
}
.icon-class-2452 {
    &:extend(.icon);
    background-image: url("@{image-classes-folder}/2452.png");
}
.icon-class-2454 {
    &:extend(.icon);
    background-image: url("@{image-classes-folder}/2454.png");
}
.icon-class-2968 {
    &:extend(.icon);
    background-image: url("@{image-classes-folder}/2968.png");
}
.icon-class-2896 {
    &:extend(.icon);
    background-image: url("@{image-classes-folder}/2896.png");
}
.icon-class-2796 {
    &:extend(.icon);
    background-image: url("@{image-classes-folder}/2796.png");
}
.icon-class-2856 {
    &:extend(.icon);
    background-image: url("@{image-classes-folder}/2856.png");
}
.icon-class-2799 {
    &:extend(.icon);
    background-image: url("@{image-classes-folder}/2799.png");
}
.icon-class-2478 {
    &:extend(.icon);
    background-image: url("@{image-classes-folder}/2478.png");
}

/*********icon types************/
.icon-type-1{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/1,7.png");
}
.icon-type-2{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/2.png");
}
.icon-type-3{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/3.png");
}
.icon-type-4{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/4,5.png");
}
.icon-type-5{
    &:extend(.icon);
    &:extend(.icon-type-4);
}
.icon-type-6{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/6.png");
}
.icon-type-7{
    &:extend(.icon);
    &:extend(.icon-type-1);
}
.icon-type-8{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/8.png");
}
.icon-type-9{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/9.png");
}
.icon-type-13{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/13.png");
}
.icon-type-20{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/20.png");
}
.icon-type-247{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/247.png");
}
.icon-type-267{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/267.png");
}
.icon-type-295{
    &:extend(.icon);
    background-image: url("@{image-types-folder}/295.png");
}


/********************** Icon VM *************************/
.icon-vm-0{
    &:extend(.icon);
    background-image: url("@{image-vm-folder}/vm.ico");
}
.icon-vm-1 {
    &:extend(.icon);
    background-image: url("@{image-vm-folder}/ii.ico");
}
.icon-vm-2 {
    &:extend(.icon);
    background-image: url("@{image-vm-folder}/pi.ico");
}
.icon-vm-3 {
    &:extend(.icon);
    background-image: url("@{image-vm-folder}/ji.ico");
}
.icon-vm-5 {
    &:extend(.icon);
    background-image: url("@{image-vm-folder}/lz.ico");
}
.icon-vm-6 {
    &:extend(.icon);
    background-image: url("@{image-vm-folder}/vm2.png");
}