﻿/*Панель табов слева для переключения между типами документов*/
.tabs-strip-column {
    border-right: 1px solid #dbdbdb;
    flex: 0 1 120px;
    overflow: visible;
}

.tabs-strip-column div.k-widget.k-tabstrip.k-tabstrip-left {
    border-width: 0px 1px 0px 0px;
}

.tabs-strip-column div.k-widget.k-tabstrip.k-tabstrip-left > ul.k-tabstrip-items {
    display: block;
    float: initial;
}